


body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.col {
  margin-right: -1px;
  width: 34px;
}

.btn {
  height: 10px;
  border: 1px solid #fff;
  margin-right: 1px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.chip {
  height: 34px;
  border-radius: 50%;
}

.red,[data-color="red"] {
  background-color: red;
}

.yellow,[data-color="yellow"] {
  background-color: yellow;
}
[disabled] {
  background-color:blue;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
